/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 09-Sep-2022, 12:53:04 pm
    Author     : Pushpa
*/
.heading{
     position:absolute;
     top:135px;
    left:250px;
}
.heading span{
    color:#650000;
/*    color:#d93030;*/
    font-family: 'Maven Pro', sans-serif;
    display: inline-block;
    font-size:80px;
    animation:bounceInLeft;
    animation-duration:1.5s;
}
.about{
    position: absolute;
    font-size: 23px;
/*    color:#e37738;*/
    color:#d5936d;
    top:298px;
    left:400px;
    animation:bounceInRight;
    animation-duration:3s;
}

.midsvg{
    position:absolute;
    bottom:0px;
    left:38%;
    width:350px;
}
.svgImg{
    position:absolute;
    width:370px;
    bottom: 0px;
}
#svgImg2{
    position:absolute;
    width:275px;
    bottom: 0px;
    right:0px;
}
